<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>テスト2</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <div class="main">
      <div class="main-header">
        <div class="main-title">
          <h1><a href="/">CostCheck</a></h1>
        </div>
        <div class="main-link">
          <%= link_to "このサイトについて", tops_path, class: "link" %>
          <a class="link" href="/">新規登録</a>
          <a class="link" href="/users/sign_in">ログイン</a>
        </div>
      </div>

      <div class="main-center">
        <video autoplay="autoplay" loop="loop" muted="muted" style="width=100%" src="mixkit-minimalist-room-with-gray-sofa-3110 (1).mp4"></video>
      </div>
    </div>
  <body>