<div class="show-main">
  <div class="show-header">
    <div class="title">
      <h1 class="show-title">Cost✂︎Checkとは？</</h1>
    </div>
    <div class="show-explanation">
      <p>家計の固定費を管理するサイトです！</p>
      <p>毎月必ず払う固定費！何にどれだけ払っているか把握していますか？</p>
      <p>なんとなくで無駄に払っていませんか？</p>
      <p>このサイトを利用して、無駄を無くし、固定費を管理しましょう！</p>
    </div>
      <%= link_to "◆トップページに戻る", root_path, class: "show-link" %>
  </div>
  
  <div class="show-center">
    <video autoplay="autoplay" loop="loop" muted="muted" style="width=100%" src="mixkit-minimalist-room-with-gray-sofa-3110 (1).mp4"></video>
  </div>
</div>