<div class="cost-main">
  <div class="cost-header">
    <div class="title">
      <h1>home🏡cost</h1>
    </div>
      <%= link_to "◆トップページに戻る", root_path, class: "memo-link" %>
  </div>

  <div class="cost-center">
    <div class="cost-form">
      <%= form_tag('/costs', method: :cost) do %>
        <div class="cost-form_list">
          <div class="cost-list_text">
            <p>家賃・住宅ローン</p>
            <input type="number"  name="house" placeholder="数字を入力">
          </div>
          <div class="cost-list_text">
            <p>車・駐車場など</p>
            <input type="number"  name="car" placeholder="数字を入力">
          </div>
          <div class="cost-list_text">
            <p>電気代</p>
            <input type="number"  name="electric" placeholder="数字を入力">
          </div>
          <div class="cost-list_text">
            <p>水道代</p>
            <input type="number"  name="water" placeholder="数字を入力">
          </div>
          <div class="cost-list_text">
            <p>ガス代</p>
            <input type="number"  name="gas" placeholder="数字を入力">
          </div>
          <div class="cost-list_text">
            <p>通信費</p>
            <input type="number"  name="communication" placeholder="数字を入力">
          </div>
          <div class="cost-list_text">
            <p>保険代</p>
            <input type="number"  name="insurance" placeholder="数字を入力">
          </div>
          <div class="cost-list_text">
            <p>その他</p>
            <input type="number"  name="other" placeholder="数字を入力">
          </div>
            <input type="submit" value="登録" style="width:490px; height:50px" class="cost-btn">
      <% end %>
    </div>
  </div>
</div>

