<div class="post">
  <div class="post-contet">
    <% @posts.each do |post| %>
      <div class="content">
        <%= link_to post.title, post_path(post.id), class: "content--title" %>
      </div>
    <% end %>
  </div>
  <div class="post-link">
    <%= link_to  "◆メモを書く", new_post_path, class: "post-link_list" %>
    <%= link_to "◆トップページに戻る", root_path, class: "post-link_list" %>
  </div>
</div>

