<div class="memo-main">
    <div class="memo-header">
      <div class="title">
      <h1>memo✒︎write</h1>
      </div>
      <%= link_to "◆トップページに戻る", root_path, class: "memo-link" %>
    </div>

    <div class="memo-center">
      <div class="memo-form">
        <%= form_tag('/posts', method: :post) do %>
        <div class="memo-title">
          <input type="text" placeholder="title" name="title", class="memo-text_title"> 
        </div>
        <div class="memo-coment">
          <textarea placeholder="memo" rows="10" name="content", class="memo-coment-center"></textarea>
        </div>
          <input type="submit" value="保存" style="width:705px; height:50px" class="memo-btn">
        <% end %>
      </div>
    </div>
</div>