.post {
  width: 100%;
  height: 100vh;
  background-image: url("oleg-laptev-qUP1ws-mzhw-unsplash.jpg");
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.content {
  margin-left: 85px;
  margin-top: 50px;
  background-color: orange;
  width: 250px;
  height: 100px;
  display: inline-flex;
}

.content--title {
  text-decoration: none;
  color: black;
  font-family: arial black;
  line-height: 100px;
  display: inline-block;
  margin: auto;
}

.post-link {
  position: absolute;
  bottom: 0;
  height: 150PX;
  width: 100%;
  text-align: center;
}

.post-link_list {
  text-decoration: none;
  color: black;
  font-family: arial black;
  margin-left: 50px;
  font-size: 20px;
}

.pagination {
  margin-top: 70px;
  display: table;
  margin-left:auto;
  margin-right:auto;
}

.pagination>li>a { 
  border: none;
  color: #696969;
}

.pagination>li>a:hover {
  border-radius: 15px;
}